<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Number Converter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="styles/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/media.css">
  </head>
  
  <body ng-app="NumberConverter">
    <div class="global-container" ng-controller="MainCtrl">
      <div class="app-container">
        
        <div class="left-side">
          <table id="numbers-hint">
            <tr class="row header">
              <td class="col dec-header">Dec</td>
              <td class="col hex-header">Hex</td>
              <td class="col bin-header">Bin</td>
            </tr>
            
            <tr class="row num-value" ng-repeat="hintNum in hintNumbers">
              <td class="col dec-col" ng-bind="hintNum.decVal"></td>
              <td class="col hex-col" ng-bind="hintNum.hexVal"></td>
              <td class="col bin-col" ng-bind="hintNum.binVal"></td>
            </tr>
          </table>
        </div>
        
        <div class="main-content">
          <h3 class="app-title text-center">Number Converter</h3>
          
          <div class="val-form control-elements form-horizontal">
            <div class="form-group">
              <label class="control-label col-xs-1" for="decInput">Dec</label>
              <input ng-model="decVal" ng-change="decChange()" ng-keypress="decKey($event)" decimal-value type="text" autofocus class="val-control col-xs-9" id="decInput">
              <button class="btn btn-copy col-xs-2" id="decCopy" tabindex="-1">COPY</button>
            </div>
            
            <div class="form-group">
              <label class="control-label col-xs-1" for="hexInput">Hex</label>
              <input ng-model="hexVal" ng-change="hexChange()" ng-keypress="hexKey($event)" hexadecimal-value type="text" class="val-control col-xs-9" id="hexInput">
              <button class="btn btn-copy col-xs-2" id="hexCopy" tabindex="-1">COPY</button>
            </div>
            
            <div class="form-group">
              <label class="control-label col-xs-1" for="binInput">Bin</label>
              <input ng-model="binVal" ng-change="binChange()" ng-keypress="binKey($event)" binary-value type="text" class="val-control col-xs-9" id="binInput">
              <button class="btn btn-copy col-xs-2" id="binCopy" tabindex="-1">COPY</button>
            </div>
            
            <div class="form-group">
              <div class="controls col-xs-12 text-center">
                <button class="btn btn-default btn-global" id="buttonClear" ng-click="clearInputs()">Clear</button>
                <button class="btn btn-default btn-global" id="buttonCopyAll">Copy All</button>
              </div>
            </div>
          </div>
          
          <div class="options">
            <div class="option format-opt">
              <input ng-model="format" ng-change="formatChange()" type="checkbox" name="format" id="chFormat">
              <label class="control-label unselectable" for="chFormat">Format</label>
            </div>
            <div class="option full-screen-opt">
              <input ng-model="fullScreen" ng-change="fullScreenChange()" type="checkbox" name="fullScreen" id="chFullScreen">
              <label class="control-label unselectable" for="chFullScreen">Full Screen</label>
            </div>
          </div>
          
          <!-- <div class="tests">
            <span class="test-span" ng-click="testClick()">Test Span</span>
          </div> -->
          
          <div id="bits-map">
            <div id="bytes">
            </div>
          </div>
        </div>
        
        <div class="right-side">
          <table id="powers-hint">
            <tr class="row header">
              <td class="col dec-header">2<sup>n</sup></td>
              <td class="col hex-header">Dec</td>
              <td class="col hex-header">Hex</td>
              <td class="col bin-header">Bin</td>
            </tr>
            
            <tr class="row num-value" ng-repeat="hintNum in powerHintNumbers" ng-click="fillPowerField($index)">
              <td class="col power-col" ng-bind-html="hintNum.powerExpr"></td>
              <td class="col power-dec-col" ng-bind="hintNum.powerDecVal"></td>
              <td class="col power-hex-col" ng-bind="hintNum.powerHexVal"></td>
              <td class="col power-bin-col" ng-bind="hintNum.powerBinVal"></td>
            </tr>
          </table>
        </div>
        
      </div>
      <!-- app-container -->
      
    </div>

    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-sanitize.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/clipboard.js"></script>
    
    <script src="scripts/custom.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/validators.js"></script>
    <script src="scripts/controllers/main.js"></script>
</body>
</html>
