.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top: 20px;
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* ----- */

.app-container{
  width: 450px;
  margin: 0 auto;
}

.app-title{
  font-weight: 700;
  margin-bottom: 30px;
  text-decoration: underline;
}

.control-group{
  margin: 15px auto;
}

.form-horizontal .control-label{
  text-align: left;
}
.control-label{
  padding-right: 0;
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.val-control{
  /*display: block;*/
  /*width: 100%;*/
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.val-control:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.btn-copy{
  margin-left: 10px;
  margin-top: 1px;
  
  background: #fff;
  border: 3px solid #279c9c;
  padding: 3px 0px;
  border-radius: 8px;
  transition: background ease-in-out .12s;
}

.btn-copy:hover{
  background: #d4f5f5;
}

.btn-global{
  width: 20%;
  margin: 0 5px;
  transition: background ease-in-out .1s;
}

.val-control:focus{
  border-color: rgb(36, 100, 150);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(36, 100, 150, 0.5);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(36, 100, 150, 0.5);
}

.val-control.ng-dirty.ng-invalid,
.val-control.ng-dirty.ng-invalid:focus {
  border-color: rgb(221,0,0);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(221,0,0,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(221,0,0,.6);
}

.left-side{
  position: absolute;
  left: 15%;
  top: 75px;
}

#numbers-hint{
  text-align: center;
  border-collapse: collapse;
}

#numbers-hint td{
  border: 1px solid #aaa;
  padding: 4px 10px;
}

#numbers-hint tr{
}

#numbers-hint .header{
  font-weight: 700;
}

#numbers-hint .dec-header{
  background: #f6ee5f;
}
#numbers-hint .hex-header{
  background: #dd85e3;
}
#numbers-hint .bin-header{
  background: #8cc9da;
}

.options {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.options .option{
  display: inline-block;
  margin-right: 10px;
}

.options .option input{
  vertical-align: top;
}

#bits-map{
  margin-top: 8px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}
#bits-map #bytes{
  font-size: 20px;
  font-family: "monospace";
  text-align: center;
}

#bits-map #bytes .word{
}

#bits-map #bytes .byte-wrap{
  display: inline-block;
}
#bits-map #bytes .byte-wrap .byte-info{
  font-size: 13px;
  margin: 0 5px 0px;
  padding: 3px 0;
  background: #ddefed;
  
  border: 1px solid #aaa;
  border-radius: 3px;
  border-bottom: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#bits-map #bytes .byte-wrap .byte-info .high-bit-num,
#bits-map #bytes .byte-wrap .byte-info .byte-num,
#bits-map #bytes .byte-wrap .byte-info .low-bit-num{
  font-family: Consolas, monospace;
  text-align: center;
}
  
#bits-map #bytes .byte-wrap .byte-info .high-bit-num{
  float: left;
  margin-left: 3px;
  padding-left: 4px;
}
#bits-map #bytes .byte-wrap .byte-info .byte-num{
  display: inline-block;
}
#bits-map #bytes .byte-wrap .byte-info .low-bit-num{
  float: right;
  margin-right: 3px;
  padding-right: 4px;
}

#bits-map #bytes .byte{
  background: #ddefed;
  display: inline-block;
  color: #666;
  margin: 0 5px 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#bits-map #bytes .byte.high-byte,
#bits-map #bytes .byte.low-byte,
#bits-map #bytes .byte .high-half-byte,
#bits-map #bytes .byte .low-half-byte{
  display: inline-block;
}

#bits-map #bytes .byte.high-byte{
}
#bits-map #bytes .byte.low-byte{
}
#bits-map #bytes .byte .high-half-byte{
}
#bits-map #bytes .byte .low-half-byte{
  color: #459666;
}

#bits-map #bytes .byte .bit{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 2px 4px;
  margin: 0 2px;
  font-weight: 700;
  transition: color ease-in-out .05s;
}

#bits-map #bytes .byte .high-half-byte .bit:hover{
  color: #333;
}
#bits-map #bytes .byte .low-half-byte .bit:hover{
  color: #1a683a;
}
